
header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 80vh;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fwhite-background&psig=AOvVaw0oAXIoG26xKw-ecsDJ1F2t&ust=1706803296558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNCPjvX_h4QDFQAAAAAdAAAAABAD);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header nav {
    margin: 15px;
}

header nav a {
    color: black;
    text-decoration: none;
    margin: 15px;
}
header p {
    height: 35px;
    margin: 35px;
    text-align: center;
}
header ul ul {
    display: none;
}
header ul nav a:hover ul {
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-area a:hover {
    color: blue;

}
.menu-area ul {
    list-style: none;
    display: flex;
}
.menu-area ul nav {
    position: relative;
    width: 100%;
    text-align: center;
}
.menu-area li:hover .dropdown-1 li {
    top: 0%;
    display: block;
}
.dropdown-1 ul li {
    display: none;
    position: relative;
}
.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdown-1 ul li:hover .dropdown-2 ul li {
    display: block;
}
.homepage {
    background-image: url(images/test.svg);
    position: fixed;
    display: flex;
    align-items: center;
}
footer {
    display: block;
    height: 30px;
}
.abtmepage {
    background-image: url(images/about_me.svg);
    position: fixed;
    display: flex;
    align-items: center;
}
.journeypage {
     background-image: url(images/test.svg);
    background-size: 10px;
    position: fixed;
    display: flex;
    align-items: center;
 }
.experiences {
      background-image: url(images/test.svg);
      position: fixed;
      display: flex;
      align-items: center;
  }