
header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 80vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/334/195/784/python-programming-minimalism-white-technology-hd-wallpaper-preview.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
nav {
    display: block;
    width: 100%;
    height: 25px;
}
